@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Gopher";
  src: url("/fonts/gopher.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: "Gopher", sans-serif;
}
